
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* from navbar */
#dropdown-basic {
  background-color: white ;
  color:black ;
  border-radius:50px;
}

#dropdown-menu{
  background-color:white;
  width: 200px;
border-radius:20px;
overflow: hidden;
  }
 
  #dropdown-basic::after {
    display:none;
  }
  
  #dropdown-menu{
width:250px !important;
left:-175px;
}

  /* from searchbar */
  input{
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  input:focus{
outline:none;
  }
  .roundedBorder{
    border-radius:50px;
    }
    
    
    div.roundedBorder:hover {
      background-color: rgba(184, 184, 184, 0.344);
    }
    
    .fontSize{
      font-size: 13px;
      color:grey; 
    }
    
    .fontBold{
      font-weight: bold;
      color:black;
    }
    
    .bgWhite {
      background-color: white !important;
    }

    .dRelative {
      position:relative,
  }
  
  .dAbsolute{
      position:absolute,
  }

  /* from jumbotron */
  .jumbotron{
    background-color: blackß;
    position: relative;
    min-height: 100vh;
    
  }

  .jumboPoster h1{
    font-size: 100px;
  }

  .jumboPoster{
    width: 100%;
    margin: auto;
    border-radius: 20px;
    z-index: 1;
  }


/* cards */
.MyCards{
  margin-top: 100vh;
}

/* from foooter */
footer{

  margin-top: 20px;
  background-color: white;
}
footer li{
  font-size: 15px;
}
footer li:first-of-type {
font-size: 15px;
font-weight: 600;
border-radius:50px;

}

.pointer{
  cursor: pointer;
}

.hoverGrey:hover{
  background-color: rgba(128, 128, 128, 0.11);
  border-radius: 5px;
  
}