
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#dropdown-basic {
  background-color: white ;
  color:black ;
  border-radius:50px;
}

#dropdown-menu{
  background-color:white;
  width: 200px;
border-radius:20px;
overflow: hidden;

  }

  .jumbotron{
    background-color: blackß;
    position: relative;
    height: 150vh;
    padding-bottom:50vh;
  }

  .jumboPoster h1{
    font-size: 100px;
  }

  .jumboPoster{
    width: 90%;
    margin: auto;
    border-radius: 20px;
    position:absolute;
    bottom:-60%;
    z-index: 1;
    padding: 50px;
  }

footer li{
  font-size: 15px;
}
footer li:first-of-type {
  font-size: 15px;
  font-weight: 600;
border-radius:50px;

}


.roundedBorder{
border-radius:50px;
}

.roundedBorder::after{
  
  top:"20px";
  left: "20px";
  background-color: rgba(184, 184, 184, 0.344);
  border-left:10px solid rgba(184, 184, 184, 0.344);
  z-index: '1';
  }

div.roundedBorder:hover {
  background-color: rgba(184, 184, 184, 0.344);
}

.fontSize{
  font-size: 13px;
  color:grey; 
}

.fontBold{
  font-weight: bold;
  color:black;
}

.bgWhite {
  background-color: white !important;
}

