
.guestCounterStyle span:first-of-type{
    font-size: 16px;
    font-weight: bold;
    color:black;
}
.guestCounterStyle span:last-of-type{
    font-size: 14px;
    color:grey;
}

.searchSec:hover .underline{
width:15px;
}

@media(max-width:956px){
    .searchBar{
        display:none !important;
    }
}